<%- include("header") -%>
        <div class="box">
            <% for (let i = 0; i<userTasks.length; i++) { %>
                <div class="item">
                    <input type="checkbox">
                    <p id="task"><%= userTasks[i] %></p>
                </div>
            <% } %>
                
            <form action="/" method="post">
                <input type="text" name="taskInput" placeholder="Enter a task" autocomplete="off">
                <button type="submit" name="list" value=<%= listTitle %>>+</button>
            </form>
        </div>
<%- include("footer") -%>