<%- include("header") -%>
        <div class="box">
            <% userTasks.forEach(userTask => { %>
                    <div class="item">
                        <input type="checkbox">
                        <p id="task"><%= userTask.name %></p>
                    </div>
            <%  }) %>
                
            <form action="/" method="post">
                <input type="text" name="taskInput" placeholder="Enter a task" autocomplete="off">
                <button type="submit" name="list" value=<%= listTitle %>>+</button>
            </form>
        </div>
<%- include("footer") -%>