<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>To Do List</title>
        <link rel="stylesheet" href="/styles.css" type="text/css">
    </head>
    <body>
            <div id="heading" class="box">
                <h1><%= day %></h1>
            </div>

            <div class="box">
                    <% for (let i = 0; i<userTasks.length; i++) { %>
                        <div class="item">
                            <input type="checkbox">
                            <p id="task"><%= userTasks[i] %></p>
                        </div>
                    <% } %>
                
                <form action="/" method="post">
                    <input type="text" name="taskInput" placeholder="Enter a task" autocomplete="off">
                    <button type="submit">+</button>
                </form>
            </div>
            <footer>
                <p>Copyright &copy <%= year %></p>
            </footer>
    </body>
</html>